#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "penpot"
name = "Penpot"
description.en = "Design and prototyping platform"
description.fr = "Plateforme de conception et de prototypage"

version = "2.13.3~ynh1"

maintainers = ["orhtej2"]

[upstream]
license = "MPL-2.0"
website = "https://penpot.app/"
admindoc = "https://help.penpot.app/technical-guide/"
userdoc = "https://help.penpot.app/user-guide/"
code = "https://github.com/penpot/penpot"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = ["amd64", "arm64"]
multi_instance = true

ldap = true

sso = false

disk = "500M"
ram.build = "1500M"
ram.runtime = "500M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/orhtej2/penpot-binary/releases/download/2.13.3-extracted/penpot-frontend-extracted.tar.gz"
    sha256 = "3d2ee4011070ea0ac25d15734bcd3c75dc2bbc2b6def41e8db37eab6e4eb3e16"
    autoupdate.strategy = "latest_github_release"
    autoupdate.upstream = "https://github.com/orhtej2/penpot-binary"
    autoupdate.asset = "penpot-frontend-extracted\\.tar\\.gz$"
    autoupdate.version_regex = "(\\d+\\.\\d+\\.\\d+)-extracted"

    [resources.sources.backend]
    url = "https://github.com/orhtej2/penpot-binary/releases/download/2.13.3-extracted/penpot-backend-extracted.tar.gz"
    sha256 = "2cbccd4d1731f3ea368ea6c4cbd0a667ad5d2258dc40bd06d29b5176205e8927"
    autoupdate.strategy = "latest_github_release"
    autoupdate.upstream = "https://github.com/orhtej2/penpot-binary"
    autoupdate.asset = "penpot-backend-extracted\\.tar\\.gz$"
    autoupdate.version_regex = "(\\d+\\.\\d+\\.\\d+)-extracted"

    [resources.sources.exporter]
    amd64.url = "https://github.com/orhtej2/penpot-binary/releases/download/2.13.3-extracted/penpot-exporter-amd64-extracted.tar.gz"
    amd64.sha256 = "0b84ca06a1147dc09a7aec7c9a737d9e4b851489a43aa9e83853ee42faf43163"
    arm64.url = "https://github.com/orhtej2/penpot-binary/releases/download/2.13.3-extracted/penpot-exporter-arm64-extracted.tar.gz"
    arm64.sha256 = "891b96078ab49c94f60bf681610db43c9b21b13b14f5af98f7af4aa714b04605"
    autoupdate.strategy = "latest_github_release"
    autoupdate.upstream = "https://github.com/orhtej2/penpot-binary"
    autoupdate.asset.amd64 = "penpot-exporter-amd64-extracted\\.tar\\.gz$"
    autoupdate.asset.arm64 = "penpot-exporter-arm64-extracted\\.tar\\.gz$"
    autoupdate.version_regex = "(\\d+\\.\\d+\\.\\d+)-extracted"
    prefetch = false

    [resources.sources.jre]
    amd64.url = "https://github.com/adoptium/temurin25-binaries/releases/download/jdk-25.0.2%2B10/OpenJDK25U-jre_x64_linux_hotspot_25.0.2_10.tar.gz"
    amd64.sha256 = "d6c89e08f42be94cd55eab20190958a35b993625018a3ac59cb3d16d8445cf98"
    arm64.url = "https://github.com/adoptium/temurin25-binaries/releases/download/jdk-25.0.2%2B10/OpenJDK25U-jre_aarch64_linux_hotspot_25.0.2_10.tar.gz"
    arm64.sha256 = "e90ad4a618a0228a2126e7c6abfbc0729e2649d7d72cef45fd640239866eb050"
    autoupdate.strategy = "latest_github_release"
    autoupdate.version_regex = "jdk-(\\d+\\.\\d+\\.\\d+)\\+(.*)"
    autoupdate.upstream = "https://github.com/adoptium/temurin25-binaries"
    autoupdate.asset.amd64 = "OpenJDK.*-jre_x64_linux_hotspot_.*\\.tar\\.gz$"
    autoupdate.asset.arm64 = "OpenJDK.*-jre_aarch64_linux_hotspot_.*\\.tar\\.gz$"
    prefetch = false

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.data_dir]
    subdirs = ["assets"]
    group = "www-data:rx"

    [resources.permissions]
    main.url = "/"

    [resources.ports]
        [resources.ports.exporter]

    [resources.apt]
    packages = [
        "postgresql",
        "redis",
        "tzdata",
        "locales",
        "ca-certificates",
        "fontconfig",
        "xz-utils",
        "imagemagick",
        "ghostscript",
        "netpbm",
        "poppler-utils",
        "potrace",
        "libasound2",
        "libatk1.0-0",
        "libatk-bridge2.0-0",
        "libatomic1",
        "libcairo2",
        "libcups2",
        "libdbus-1-3",
        "libexpat1",
        "libfontconfig1",
        "libgcc1",
        "libglib2.0-0",
        "libgtk-3-0",
        "libnspr4",
        "libpango-1.0-0",
        "libpangocairo-1.0-0",
        "libx11-6",
        "libx11-xcb1",
        "libxcb1",
        "libxcb-dri3-0",
        "libxcomposite1",
        "libxcursor1",
        "libxdamage1",
        "libxext6",
        "libxfixes3",
        "libxi6",
        "libxrandr2",
        "libxrender1",
        "libxshmfence1",
        "libxss1",
        "libxtst6",
        "fonts-liberation",
        "libnss3",
        "libgbm1",
        "webp",
        "rlwrap",
        "woff-tools",
        "woff2",
        "python3",
        "python3-tabulate",
        "fontforge",
        "rsync"
    ]

    [resources.database]
    type = "postgresql"

    [resources.nodejs]
    version = "22"
