#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "penpot"
name = "Penpot"
description.en = "Design and prototyping platform"
description.fr = "Plateforme de conception et de prototypage"

version = "2.12.1~ynh3"

maintainers = ["orhtej2"]

[upstream]
license = "MPL-2.0"
website = "https://penpot.app/"
admindoc = "https://help.penpot.app/technical-guide/"
userdoc = "https://help.penpot.app/user-guide/"
code = "https://github.com/penpot/penpot"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = ["amd64", "arm64"]
multi_instance = true

ldap = false

sso = false

disk = "500M"
ram.build = "1500M"
ram.runtime = "500M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/orhtej2/penpot-binary/releases/download/2.13.2-extracted/penpot-frontend-extracted.tar.gz"
    sha256 = "561a8b60c0e33d7d89d79e45216b8f82fc3b5b24b5592d2219d777018ee867ad"
    autoupdate.strategy = "latest_github_tag"
    autoupdate.upstream = "https://github.com/orhtej2/penpot-binary"

    [resources.sources.backend]
    url = "https://github.com/orhtej2/penpot-binary/releases/download/2.13.2-extracted/penpot-backend-extracted.tar.gz"
    sha256 = "db79e0b9b1159c7353fe49bc2ca4e76fd4a94f4717d45a1457326ad1ab101ed3"
    autoupdate.strategy = "latest_github_tag"
    autoupdate.upstream = "https://github.com/orhtej2/penpot-binary"

    [resources.sources.exporter]
    amd64.url = "https://github.com/orhtej2/penpot-binary/releases/download/2.13.2-extracted/penpot-exporter-amd64-extracted.tar.gz"
    amd64.sha256 = "cdc872b9acf64634fbf075479fa1fd42640a1aaf1b7435c663568a87bd49d3f7"
    arm64.url = "https://github.com/orhtej2/penpot-binary/releases/download/2.13.2-extracted/penpot-exporter-arm64-extracted.tar.gz"
    arm64.sha256 = "457e0ee2b67bd1e4bea950f5e03ce752c8d0ef820fbf48dbfff44d2b6fec39bc"
    autoupdate.strategy = "latest_github_tag"
    autoupdate.upstream = "https://github.com/orhtej2/penpot-binary"
    autoupdate.asset.amd64 = "penpot-exporter-amd64-extracted\\.tar\\.gz$"
    autoupdate.asset.arm64 = "penpot-exporter-arm64-extracted\\.tar\\.gz$"

    [resources.sources.jre]
    amd64.url = "https://github.com/adoptium/temurin25-binaries/releases/download/jdk-25.0.2%2B10/OpenJDK25U-jre_x64_linux_hotspot_25.0.2_10.tar.gz"
    amd64.sha256 = "d6c89e08f42be94cd55eab20190958a35b993625018a3ac59cb3d16d8445cf98"
    arm64.url = "https://github.com/adoptium/temurin25-binaries/releases/download/jdk-25.0.2%2B10/OpenJDK25U-jre_aarch64_linux_hotspot_25.0.2_10.tar.gz"
    arm64.sha256 = "e90ad4a618a0228a2126e7c6abfbc0729e2649d7d72cef45fd640239866eb050"
    autoupdate.strategy = "latest_github_release"
    autoupdate.version_regex = "jre-(\\d+\\.\\d+\\.\\d+)\\+(.*)"
    autoupdate.upstream = "https://github.com/adoptium/temurin25-binaries"
    autoupdate.asset.amd64 = "OpenJDK.*-jre_x64_linux_hotspot_.*\\.tar\\.gz$"
    autoupdate.asset.arm64 = "OpenJDK.*-jre_aarch64_linux_hotspot_.*\\.tar\\.gz$"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.data_dir]
    subdirs = ["assets"]
    group = "www-data:rx"

    [resources.permissions]
    main.url = "/"

    [resources.ports]
        [resources.ports.exporter]

    [resources.apt]
    packages = [
        "postgresql",
        "redis",
        "tzdata",
        "locales",
        "ca-certificates",
        "fontconfig",
        "xz-utils",
        "imagemagick",
        "ghostscript",
        "netpbm",
        "poppler-utils",
        "potrace",
        "libasound2",
        "libatk1.0-0",
        "libatk-bridge2.0-0",
        "libatomic1",
        "libcairo2",
        "libcups2",
        "libdbus-1-3",
        "libexpat1",
        "libfontconfig1",
        "libgcc1",
        "libglib2.0-0",
        "libgtk-3-0",
        "libnspr4",
        "libpango-1.0-0",
        "libpangocairo-1.0-0",
        "libx11-6",
        "libx11-xcb1",
        "libxcb1",
        "libxcb-dri3-0",
        "libxcomposite1",
        "libxcursor1",
        "libxdamage1",
        "libxext6",
        "libxfixes3",
        "libxi6",
        "libxrandr2",
        "libxrender1",
        "libxshmfence1",
        "libxss1",
        "libxtst6",
        "fonts-liberation",
        "libnss3",
        "libgbm1",
        "webp",
        "rlwrap",
        "woff-tools",
        "woff2",
        "python3",
        "python3-tabulate",
        "fontforge",
        "rsync"
    ]
    packages_from_raw_bash = """
    if [[ $YNH_DEBIAN_VERSION == "bookworm" ]]; then
        echo "gconf-service, libgconf-2-4, libgdk-pixbuf2.0-0";
    elif [[ $YNH_DEBIAN_VERSION == "trixie" ]]; then
        echo "libgdk-pixbuf-xlib-2.0-0";
        # FIXME : gconf stuff don't seem to exist in Trixie anymore ?!
    fi
    """

    [resources.database]
    type = "postgresql"

    [resources.nodejs]
    version = "22"
