#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "penpot"
name = "Penpot"
description.en = "Design and prototyping platform"
description.fr = "Plateforme de conception et de prototypage"

version = "2.11.1~ynh3"

maintainers = ["orhtej2"]

[upstream]
license = "MPL-2.0"
website = "https://penpot.app/"
admindoc = "https://help.penpot.app/technical-guide/"
userdoc = "https://help.penpot.app/user-guide/"
code = "https://github.com/penpot/penpot"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = ["amd64", "arm64"]
multi_instance = true

ldap = false

sso = false

disk = "500M"
ram.build = "1500M"
ram.runtime = "500M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/penpot/penpot/archive/refs/tags/2.11.1.tar.gz"
    sha256 = "99f8d5d0dbfe056637e9e42f5689a93d20e83ce440c2061f7d8326cba19e1b44"
    autoupdate.strategy = "latest_github_tag"

    [resources.sources.jdk]
    amd64.url = "https://github.com/adoptium/temurin24-binaries/releases/download/jdk-24.0.2%2B12/OpenJDK24U-jdk_x64_linux_hotspot_24.0.2_12.tar.gz"
    amd64.sha256 = "aea1cc55e51cf651c85f2f00ad021603fe269c4bb6493fa97a321ad770c9b096"
    arm64.url = "https://github.com/adoptium/temurin24-binaries/releases/download/jdk-24.0.2%2B12/OpenJDK24U-jdk_aarch64_linux_hotspot_24.0.2_12.tar.gz"
    arm64.sha256 = "6f8725d186d05c627176db9c46c732a6ef3ba41d9e9b3775c4727fc8ac642bb2"
    autoupdate.strategy = "latest_github_release"
    autoupdate.version_regex = "jdk-(\\d+\\.\\d+\\.\\d+)\\+(.*)"
    autoupdate.upstream = "https://github.com/adoptium/temurin24-binaries"
    autoupdate.asset.amd64 = "OpenJDK.*-jdk_x64_linux_hotspot_.*\\.tar\\.gz$"
    autoupdate.asset.arm64 = "OpenJDK.*-jdk_aarch64_linux_hotspot_.*\\.tar\\.gz$"

    [resources.sources.babashka]
    amd64.url = "https://github.com/babashka/babashka/releases/download/v1.12.210/babashka-1.12.210-linux-amd64-static.tar.gz"
    amd64.sha256 = "58fafc18e90cf9e72e6849c1528f200ab101514ce3d0607a54207668c1d391fa"
    arm64.url = "https://github.com/babashka/babashka/releases/download/v1.12.210/babashka-1.12.210-linux-aarch64-static.tar.gz"
    arm64.sha256 = "3c124e8ac955697dd05202aed0bb9333dcd10b592138e47da8671b0645012c4b"
    in_subdir = false
    autoupdate.strategy = "latest_github_release"
    autoupdate.upstream = "https://github.com/babashka/babashka"
    autoupdate.asset.amd64 = "babashka-.*-linux-amd64-static\\.tar\\.gz$"
    autoupdate.asset.arm64 = "babashka-.*-linux-aarch64-static\\.tar\\.gz$"

    [resources.sources.emsdk]
    url = "https://github.com/emscripten-core/emsdk/archive/refs/tags/4.0.20.tar.gz"
    sha256 = "2a8a70eb1c0a47883272a001feb4c7209db6e9bcc36774dd9770050e7ac64fa0"
    autoupdate.upstream = "https://github.com/emscripten-core/emsdk"
    autoupdate.strategy = "latest_github_tag"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.data_dir]
    subdirs = ["assets"]
    group = "www-data:rx"

    [resources.permissions]
    main.url = "/"

    [resources.ports]
        [resources.ports.exporter]

    [resources.apt]
    packages = [
        "postgresql",
        "redis",
        "tzdata",
        "locales",
        "ca-certificates",
        "fontconfig",
        "xz-utils",
        "imagemagick",
        "ghostscript",
        "netpbm",
        "poppler-utils",
        "potrace",
        "libasound2",
        "libatk1.0-0",
        "libatk-bridge2.0-0",
        "libatomic1",
        "libcairo2",
        "libcups2",
        "libdbus-1-3",
        "libexpat1",
        "libfontconfig1",
        "libgcc1",
        "libglib2.0-0",
        "libgtk-3-0",
        "libnspr4",
        "libpango-1.0-0",
        "libpangocairo-1.0-0",
        "libx11-6",
        "libx11-xcb1",
        "libxcb1",
        "libxcb-dri3-0",
        "libxcomposite1",
        "libxcursor1",
        "libxdamage1",
        "libxext6",
        "libxfixes3",
        "libxi6",
        "libxrandr2",
        "libxrender1",
        "libxshmfence1",
        "libxss1",
        "libxtst6",
        "fonts-liberation",
        "libnss3",
        "libgbm1",
        "webp",
        "rlwrap",
        "woff-tools",
        "woff2",
        "python3",
        "python3-tabulate",
        "fontforge",
        "rsync"
    ]
    packages_from_raw_bash = """
    if [[ $YNH_DEBIAN_VERSION == "bookworm" ]]; then
        echo "gconf-service, libgconf-2-4, libgdk-pixbuf2.0-0";
    elif [[ $YNH_DEBIAN_VERSION == "trixie" ]]; then
        echo "libgdk-pixbuf-xlib-2.0-0";
        # FIXME : gconf stuff don't seem to exist in Trixie anymore ?!
    fi
    """

    [resources.database]
    type = "postgresql"

    [resources.nodejs]
    version = "22"
