#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "penpot"
name = "Penpot"

description.en = "Design and prototyping platform"
description.fr = "Plateforme de conception et de prototypage"

version = "2.1.3~ynh1"

maintainers = ["orhtej2"]

[upstream]
license = "MPL-2.0"
website = "https://penpot.app/"

admindoc = "https://help.penpot.app/technical-guide/"
userdoc = "https://help.penpot.app/user-guide/"
code = "https://github.com/penpot/penpot"

[integration]
yunohost = '>= 11.2.12'
architectures = ["amd64", "arm64"]
multi_instance = true
ldap = false
sso = false
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]

    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://github.com/penpot/penpot/archive/refs/tags/2.1.3.tar.gz"
        sha256 = "39bb87ca91b77e735c8c5ecfe12b090be90fe4a54db42d4cf90c4212416ef026"
        autoupdate.strategy = "latest_github_tag"

        [resources.sources.jdk]
        amd64.url = "https://github.com/adoptium/temurin21-binaries/releases/download/jdk-21.0.4%2B7/OpenJDK21U-jdk_x64_linux_hotspot_21.0.4_7.tar.gz"
        amd64.sha256 = "51fb4d03a4429c39d397d3a03a779077159317616550e4e71624c9843083e7b9"
        arm64.url = "https://github.com/adoptium/temurin21-binaries/releases/download/jdk-21.0.4%2B7/OpenJDK21U-jdk_aarch64_linux_hotspot_21.0.4_7.tar.gz"
        arm64.sha256 = "d768eecddd7a515711659e02caef8516b7b7177fa34880a56398fd9822593a79"
        autoupdate.strategy = "latest_github_release"
        autoupdate.version_regex = "jdk-(\\d+\\.\\d+\\.\\d+)\\+(.*)"
        autoupdate.upstream = "https://github.com/adoptium/temurin21-binaries"
        autoupdate.asset.amd64 = "OpenJDK.*-jdk_x64_linux_hotspot_.*\\.tar\\.gz$"
        autoupdate.asset.arm64 = "OpenJDK.*-jdk_aarch64_linux_hotspot_.*\\.tar\\.gz$"

        [resources.sources.babashka]
        amd64.url = "https://github.com/babashka/babashka/releases/download/v1.3.191/babashka-1.3.191-linux-amd64-static.tar.gz"
        amd64.sha256 = "7002e7d8cee8909de2a9cb678541a2b5bf076f0c3576950dd3bbb4d6288b0891"
        arm64.url = "https://github.com/babashka/babashka/releases/download/v1.3.191/babashka-1.3.191-linux-aarch64-static.tar.gz"
        arm64.sha256 = "37f76770e21e99682709e3de8868787a1cfd2f818cc02b5c0ba56708a602862b"
        in_subdir = false
        autoupdate.strategy = "latest_github_release"
        autoupdate.upstream = "https://github.com/babashka/babashka"
        autoupdate.asset.amd64 = "babashka-.*-linux-amd64-static\\.tar\\.gz$"
        autoupdate.asset.arm64 = "babashka-.*-linux-aarch64-static\\.tar\\.gz$"
    [resources.system_user]
    allow_email = true

    [resources.install_dir]

    [resources.data_dir]
    subdirs = ["assets"]
    group = "www-data:rx"

    [resources.permissions]
    main.url = "/"

    [resources.ports]
        [resources.ports.exporter]

    [resources.apt]
    packages = [
        "postgresql",
        "redis",
        "tzdata",
        "locales",
        "ca-certificates",
        "fontconfig",
        "xz-utils",
        "imagemagick",
        "ghostscript",
        "netpbm",
        "poppler-utils",
        "potrace",
        "gconf-service",
        "libasound2",
        "libatk1.0-0",
        "libatk-bridge2.0-0",
        "libatomic1",
        "libcairo2",
        "libcups2",
        "libdbus-1-3",
        "libexpat1",
        "libfontconfig1",
        "libgcc1",
        "libgconf-2-4",
        "libgdk-pixbuf2.0-0",
        "libglib2.0-0",
        "libgtk-3-0",
        "libnspr4",
        "libpango-1.0-0",
        "libpangocairo-1.0-0",
        "libx11-6",
        "libx11-xcb1",
        "libxcb1",
        "libxcb-dri3-0",
        "libxcomposite1",
        "libxcursor1",
        "libxdamage1",
        "libxext6",
        "libxfixes3",
        "libxi6",
        "libxrandr2",
        "libxrender1",
        "libxshmfence1",
        "libxss1",
        "libxtst6",
        "fonts-liberation",
        "libnss3",
        "libgbm1",
        "webp",
        "rlwrap",
        "woff-tools",
        "woff2",
        "python3",
        "python3-tabulate",
        "fontforge",
        "rsync"
    ]

    [resources.database]
    type = "postgresql"
